.container-seznam_pojistenci {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 ,h1{
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th:last-child {
    text-align: center;
    padding-right: 20px;
}
table th a {
    color: white;
}

table th {
    background-color: #007bff;
    color: white;

}

table tr:hover {
    background-color: #f1f1f1;
}

.pojistenci-actions {
    text-align: right;
}

.pojistenci-actions a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: all 0.3s ease;
}


.pojistenci-actions a:first-child:hover {
    background-color: #007bff;
    color: #fff;
}

.pojistenci-actions a:nth-child(2):hover {
    background-color: #ff851b;
    color: #fff;
}

.pojistenci-actions a:last-child:hover {
    background-color: #c9302c;
    color: #fff;
}


.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: 16px;
}

.step-links a {
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #007bff;
    border-radius: 4px;
    color: #007bff;
    transition: background-color 0.3s, color 0.3s;
}

.step-links a:hover {
    background-color: #007bff;
    color: #fff;
}

.current {
    padding: 8px 12px;
    margin: 0 5px;
    font-weight: bold;
    color: #555;
    border-radius: 4px;
}

.pojistenci-actions a:active {
    transform: translateY(2px);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

.vyhledavaci-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.vyhledavaci-form-section {
    margin-bottom: 20px;
}
.vyhledavaci-form a,
.vyhledavaci-form select,
.vyhledavaci-form button {
    flex: 1;
    margin: 0 50px;
    max-width: 200px; /* Maximální šířka prvků */
    min-width: 100px; /* Minimální šířka prvků */
}


.vyhledavaci-form label {
    margin-right: 10px;
}

.vyhledavaci-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.vyhledavaci-form button[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.vyhledavaci-form button[type="submit"]:hover {
    background-color: #0056b3;
}

