.container-seznam_pojistenci {
    width: 100%;
    max-width: 800px; /* Maximální šířka kontejneru */
    margin: 20px auto; /* Centrovat kontejner */
    padding: 30px;
    background-color: #f9f9f9; /* Světle šedé pozadí */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 ,h1{
    text-align: center;
    color: #007bff; /* Barva nadpisu */
    margin-bottom: 20px;
}

table {
    width: 100%; /* Tabulka zabírá celou šířku kontejneru */
    border-collapse: collapse; /* Sloučit okraje buněk */
    margin-top: 20px;
}

table th, table td {
    padding: 15px;
    text-align: left; /* Zarovnat text vlevo */
    border-bottom: 1px solid #ddd; /* Spodní okraj buněk */
}

/* Zarovnání nadpisu "Akce" více doprava v záhlaví tabulky */
th:last-child {
    text-align: center; /* Zarovnání nadpisu doprava */
    padding-right: 20px; /* Přidání odsazení od pravého okraje */
}


table th {
    background-color: #007bff; /* Barva hlavičky tabulky */
    color: white; /* Barva textu hlavičky */
}

table tr:hover {
    background-color: #f1f1f1; /* Barva řádku při hoveru */
}

.pojistenci-actions {
    text-align: right; /* Zarovnání tlačítek doprava */
}

.pojistenci-actions a {
    display: inline-block;
    padding: 8px 16px; /* Menší padding pro decentní vzhled */
    margin: 0 5px; /* Mezera mezi tlačítky */
    text-decoration: none; /* Odstranění podtržení textu */
    color: #007bff; /* Modrý text */
    border: 1px solid #007bff; /* Modrý rámeček */
    border-radius: 4px; /* Mírně zaoblené rohy */
    transition: all 0.3s ease; /* Hladký přechod pro hover efekt */
}

/* Efekt hover pro tlačítko "Detail" */
.pojistenci-actions a:first-child:hover {
    background-color: #007bff;
    color: #fff;
}

/* Efekt hover pro tlačítko "Upravit" */
.pojistenci-actions a:nth-child(2):hover {
    background-color: #ff851b;
    color: #fff;
}

/* Efekt hover pro tlačítko "Smazat" */
.pojistenci-actions a:last-child:hover {
    background-color: #c9302c;
    color: #fff;
}


/* Základní styly pro paginaci */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: 16px;
}

.step-links a {
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #007bff;
    border-radius: 4px;
    color: #007bff;
    transition: background-color 0.3s, color 0.3s;
}

.step-links a:hover {
    background-color: #007bff;
    color: #fff;
}

.current {
    padding: 8px 12px;
    margin: 0 5px;
    font-weight: bold;
    color: #555;
    border-radius: 4px;
}

/* Styly pro tlačítka "Upravit" a "Smazat" */
.pojistenci-actions a:active {
    transform: translateY(2px);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

/* Styl pro formulář vyhledávání */
.vyhledavaci-form {
    display: inline-flex;
    align-items: center;
    margin: auto;
    max-width: auto;
}
.vyhledavaci-form-section {
    margin-bottom: 20px;
}

.vyhledavaci-form select,
.vyhledavaci-form button {
    margin: 10px;
}


.vyhledavaci-form label {
    margin-right: 10px;
}

.vyhledavaci-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.vyhledavaci-form button[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.vyhledavaci-form button[type="submit"]:hover {
    background-color: #0056b3;
}

