/* zapomenute_heslo.css */

/* Kontejner pro zapomenuté heslo */
.container_zapomenute_heslo {
    max-width: 400px; /* Maximální šířka kontejneru */
    margin: 50px auto; /* Vycentrování */
    padding: 40px 70px 20px 60px; /* Vnitřní odsazení */
    background-color: #fefefe; /* Světlejší pozadí */
    border-radius: 8px; /* Zaoblení rohů */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Jemný stín pro 3D efekt */
    border: 1px solid #ddd; /* Lehký rámeček */
}

/* Nadpis */
.container_zapomenute_heslo h2 {
    text-align: center; /* Zarovnání na střed */
    color: #444; /* Tmavě šedá barva textu */
    margin-bottom: 20px; /* Mezery pod nadpisem */
    font-weight: bold; /* Tučnější text */
}

/* Styl pro formulářová pole */
input[type="email"] {
    width: 20%;
    padding: 5px; /* Vnitřní odsazení */
    margin-bottom: 20px;
    border: 2px solid #007bff; /* Modrý rámeček */
    border-radius: 6px; /* Zaoblení rohů */
    transition: border-color 0.3s ease; /* Plynulý přechod pro změnu barvy rámečku */
}

/* Změna barvy při zaostření */
input[type="email"]:focus {
    border-color: #0056b3; /* Tmavě modrá barva při zaostření */
    outline: none; /* Zrušení standardního rámečku */
}

/* Styl tlačítka pro odeslání */
button.btn {
    padding: 10px 20px; /* Odsazení pro tlačítko */
    background-color: #007bff; /* Modré pozadí */
    margin-bottom: 20px;
    color: white; /* Bílá barva textu */
    font-size: 1em; /* Velikost písma */
    font-weight: bold; /* Tlustý text */
    border: none; /* Bez okraje */
    border-radius: 6px; /* Zaoblení rohů */
    cursor: pointer; /* Ukazatel myši se změní na ruku */
    transition: background-color 0.3s ease; /* Plynulý přechod pro změnu barvy pozadí */
}

/* Změna barvy při najetí myší */
button.btn:hover {
    background-color: #0056b3; /* Změna barvy při najetí myší */
}

/* Styl pro odkazy */
.container_zapomenute_heslo p {
    text-align: center; /* Zarovnání na střed */
    margin: 20px; /* Mezery nahoře */
    color: #555; /* Neutrální šedá */
    font-size: 14px; /* Menší písmo */
}

.container_zapomenute_heslo p a {
    color: #007bff; /* Modrá barva */
    text-decoration: none; /* Bez podtržení */
}

.container_zapomenute_heslo p a:hover {
    text-decoration: underline; /* Podtržení při najetí myší */
}
