{% extends 'index.html' %}
{% load static %}

{% block title %}Seznam pojištěnců{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/seznam_pojistencu.css' %}">
{% endblock %}
{% block content %}

<div class="container-pojistenci">
    <h1>Seznam pojištěnců</h1>
    <div style="margin-top: 20px;"></div>



    <form method="GET" class="vyhledavaci-form">
        <div class="vyhledavaci-form-section">
            <a href="{% url 'pridat_pojistence' %}" class="btn">Přidat pojištěnce</a>
            {{ vyhledavaci_form.jmeno.label_tag }} {{ vyhledavaci_form.jmeno }}
            {{ vyhledavaci_form.prijmeni.label_tag }} {{ vyhledavaci_form.prijmeni }}
            <button type="submit">Hledat</button>
        </div>
    </form>




    {% if page_obj %}

    <table>
        <thead>
            <tr>
                <th>
                    <a href="?order_by=jmeno&order_direction={% if request.GET.order_by == 'jmeno' and request.GET.order_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        Jméno
                    </a>
                </th>
                <th>
                    <a href="?order_by=prijmeni&order_direction={% if request.GET.order_by == 'prijmeni' and request.GET.order_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        Příjmení
                    </a>
                </th>
                <th>
                    <a href="?order_by=adresa&order_direction={% if request.GET.order_by == 'adresa' and request.GET.order_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        Adresa
                    </a>
                </th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            {% for pojistenec in page_obj %}
                <tr>
                    <td>{{ pojistenec.jmeno }}</td>
                    <td>{{ pojistenec.prijmeni }}</td>
                    <td>{{ pojistenec.adresa }}</td>
                    <td>
                        <div class="pojistenci-actions">
                            <a href="{% url 'detail_pojistence' pojistenec.pk %}">Detail</a>
                            <a href="{% url 'upravit_pojistence' pojistenec.pk %}">Upravit</a>
                            <a href="{% url 'smazat_pojistence' pojistenec.pk %}">Smazat</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginace -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&order_by={{ request.GET.order_by }}">První</a>
                <a href="?page={{ page_obj.previous_page_number }}&order_by={{ request.GET.order_by }}">Předchozí</a>
            {% endif %}

            <span class="current">
                Stránka {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&order_by={{ request.GET.order_by }}">Další</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&order_by={{ request.GET.order_by }}">Poslední</a>
            {% endif %}
        </span>
    </div>


    {% else %}
        <p>Žádní pojištěnci nenalezeni.</p>
    {% endif %}
</div>

{% endblock %}


