{% extends 'index.html' %}

{% block title %}Upravit pojištění{% endblock %}

{% block content %}
    <div class="container">
        <h1>Upravit pojištění</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Uložit změny</button>
        </form>

        <!-- Tlačítko pro návrat na detail pojištence -->
        <a href="{% url 'detail_pojistence' pk=pojisteni.pojistenec.pk %}" class="btn btn-secondary">Zpět na detail pojištence</a>

        <!-- Tlačítko pro návrat na seznam pojištění -->
        <a href="{% url 'seznam_pojisteni' %}" class="btn btn-secondary">Zpět na seznam pojištění</a>
    </div>
{% endblock %}
